@layer components {
  .card {
    background-color: var(--card);
    color: var(--card-foreground);
    border: 1px solid var(--border);
    border-radius: var(--radius-large);
    overflow: hidden;

    & > header {
      display: flex;
      flex-direction: column;
      gap: var(--space-1);
      padding: var(--space-6);

      & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        margin-bottom: 0;
      }

      & > p {
        font-size: var(--text-7);
        color: var(--muted-foreground);
        margin-bottom: 0;
      }
    }

    & > p, & > div:not([role]) {
      padding: var(--space-6);
      padding-top: 0;
    }

    & > footer {
      display: flex;
      align-items: center;
      gap: var(--space-2);
      padding: var(--space-6);
      padding-top: 0;
    }
  }
}
